<div class='nested-fields'>
    <div class="card">
        <div class="card-body">
            <div class="col-lg-9 col-xl-9">
                <%= f.label :member , label: 'Select your pawn' %>
                <%= f.collection_select :member, Member.where(team_id: current_team.id), :name, :name %>
            </div>
            <br>
            <div class="col-lg-9 col-xl-9">
                <%= f.input :minute, label: 'Standup results'%>
            </div>
            <%= link_to_remove_association 'remove minute', f, :class => "btn btn-danger btn-sm" %>
        </div>
    </div>
    <br>
</div>