<div class='form-inputs'>
    <%= f.collection_select :member, Member.where(team_id: current_team.id), :name, :name %>
    <%= f.input :minute %>
    <%= link_to_remove_association 'remove minute', f %>
</div>